.body_color{
    background-color:rgb(224,220,158);
}
.memberpic{
    position:relative;
    margin:2.5em 0 0 -4em;
}
/*sidebar收回的大小*/
.home_logo
{
    max-width:65px;
    position:relative;
    margin:5% 0 0 -35%;
}
/*sidebar沒有收回的大小*/
.logo{
    max-width:80%;
    position:relative;
/*    margin:10% 0 0 0%;*/
    left:9%;
}
/*幻燈片 CSS*/
.carousel .carousel-item {
  height: 300px;
}

.carousel .carousel-item img {
  min-height: 300px;
  max-height: 600px;
  object-fit: cover;
}
/*footer CSS*/
footer {
    background: #343a40;
    padding: 40px;
}
footer a{
    color: #f8f9fa!important
}

.a1{
    padding-right:0px;
    padding-left: 0px;
}

/*首頁底圖*/
.bg_image{
  background-image: url(https://i.screenshot.net/26p0ohg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;  
}

ul,li,a{
    text-decoration: none;
    list-style-type:none
}
.profile-img{
   float:left;
    width:200%;
}
.profile-name{
    font-size:20px;
    z-index:2;
    float:left;
    position:relative;
    margin-left: 13px;
}