.body_color{
    background-color:#CCFFF7;
}
.memberpic{
    position:relative;
    margin:2.5em 0 0 -4em;
}
/*sidebar收回的大小*/
.home_logo
{
    max-width:65px;
    position:relative;
    margin:5% 0 0 -35%;
}
/*sidebar沒有收回的大小*/
.logo{
    max-width:80%;
    position:relative;
/*    margin:10% 0 0 0%;*/
    left:9%;
}
/*幻燈片 CSS*/
.carousel .carousel-item {
  height: 300px;
}

.carousel .carousel-item img {
  min-height: 300px;
  max-height: 600px;
  object-fit: cover;
}
/*footer CSS*/
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}

.a1{
    padding-right:0px;
    padding-left: 0px;
}

.bg_image{
/*
  background-image: url(https://i.screenshot.net/m5yerhm);
  background-position: 0 1%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;  
*/
}